

div{
    display: flex;
    flex-direction: column;
        /* background-color: rgb(230, 240, 235); */
        /* padding: 1px; */
        align-items: center;
        justify-content: center;
}

.login{
    /* border: 1px solid black; */
    height: 30%;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(230, 240, 235,0.4);
    /* opacity: 0.6; */
    align-items: center;
    align-content: center;
}
input{
    color: white;
    background-color: black;
   
    
}
h2{
  color: rgb(243, 241, 241);
}

button{
    width: 20%;
    height: 15%;
    border: none;
}

a{
    text-decoration: none;
    color: rgb(22, 22, 22);
}

a:hover{
  text-decoration: underline;
  color: purple;
}
button:hover{
    background-color: rgb(0, 255, 76);
    color: white;
    /* border: black; */
    /* border-radius: 2px; */
    cursor: pointer;
}
i{
    color: white;
}
