.login{
    border: 1px solid black;
    height: 30%;
    /* width: 30%; */
    padding: 100px;
    border-radius: 20px;
    background-color: rgb(230, 240, 235);
    opacity: 0.6;
}
input{
    color: white;
    background-color: black;
   
    
}
h2{
  color: rgb(11, 10, 10);
}

button{
    width: 50%;
    height: 15%;
}

a{
    text-decoration: none;
    color: rgb(22, 22, 22);
}

a:hover{
  text-decoration: underline;
  color: purple;
}
button:hover{
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
}
