
.delete{
    display: flex;
    flex-direction: column;
    /* margin-top: 50%; */
    /* margin-left: 20%; */

}

button{
    margin: 5px;
  
}

.y{
    color: green;
}
.y:hover{
    background-color: green;
    color: black;
}

.n{
    color: red;

}
.n:hover{
    background-color: red;
    color: black;
}
