

.deposit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    /* align-content: center; */
    width: 50%;
    margin-left: 25%;
    /* padding: 2px; */
    /* border: 2px red solid; */
    background-color: rgba(251, 243, 243, 0.5);
    border-radius: 20px;
}

.withdraw{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;
    /* background-color: blue; */
    width: 50%;
    margin-left: 25%;
    /* padding: 2px; */
    /* border: 2px red solid; */
    background-color: rgba(251, 243, 243, 0.5);
    border-radius: 20px;

}
h2{
    color: rgb(15, 2, 2);
  
}
input{
    background-color: black;
    color: white;
}
button{
    color: black;
    margin-bottom: 10px;
    border: none;
}
button:hover{

    background-color: green;
    color: white;
    /* border: none; */
  
}
a{
    color: white;
    text-decoration: none;
   
}
a:hover{
    text-decoration: underline;
}
