

<form (ngSubmit)="register()">
<div class="a">
      <div class="register">
            <h1>Registration form</h1> <br> <br>
            <label for="u1"> </label> 
                <input type="uname" [(ngModel)]="acno" id="a1" placeholder="Account number"> <br> <br>
                <input [(ngModel)]="uname" type="text" id="u1" placeholder="username"> <br> <br>
                <input [(ngModel)]="psw" type="password" id="p1" placeholder="Password"> <br><br>
                    <button type="submit" >register</button>
      </div>
                    
</div>
</form>

